
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>AddCompany</title>
</head>
<body>
    <div>
        <form class="form form-control" method="post">
            <input class="form-control" placeholder="Şirket Adı" name="Name" />
            <input class="form-control" placeholder="Şehir" name="City" />
            <input class="form-control" placeholder="Adres" name="Address" />
            <input class="form-control" placeholder="Araba Sayısı" name="CarCount" />
            <input class="form-control" placeholder="Şirket Puanı" name="CompanyScore" />
            <br />
            <button class="btn-default">Ekle</button>
        </form>
    </div>
</body>
</html>
