
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>AddCustomer</title>
</head>
<body>
    <div>
        <form class="form form-control" method="post">
            <input class="form-control" placeholder="Ad" name="Name" />
            <input class="form-control" placeholder="Soyad" name="Surname" />
            <input class="form-control" placeholder="Şifre" name="Password" />
            <input class="form-control" placeholder="Telefon" name="PhoneNo" />
            <input class="form-control" placeholder="E-mail" name="Email" />
            <input class="form-control" placeholder="Adres" name="Address" />
            <br />
            <button class="btn-default">Ekle</button>
        </form>
    </div>
</body>
</html>
