
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <title>AddCar</title>
</head>
<body>
    <div>
        <form class="form form-control" method="post">
            <input class="form-control" placeholder="Şirket Id" name="CompanyId" />
            <input class="form-control" placeholder="Model" name="Model" />
            <input class="form-control" placeholder="Marka" name="Brand" />
            <input class="form-control" placeholder="Renk" name="Color" />
            <input class="form-control" placeholder="Yakıt türü" name="FuelType" />
            <input class="form-control" placeholder="VitesTürü" name="GearType" />
            <input class="form-control" placeholder="MinDrivingLicenseAge" name="MinDrivingLicenseAge" />
            <input class="form-control" placeholder="MinAge" name="MinAge" />
            <input class="form-control" placeholder="Seats" name="Seats" />
            <input class="form-control" placeholder="CarCategory" name="CarCategory" />
            <input class="form-control" placeholder="InstantKm" name="InstantKm" />
            <input class="form-control" placeholder="ücret" name="RentalFee" />
            <input class="form-control" placeholder="RentalStatus" name="RentalStatus" />
            <br />
            <button class="btn-default">Ekle</button>
        </form>
    </div>
</body>
</html>
