<!DOCTYPE html>
<html lang="TR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Başlangıç Sayfası</title>
    <link rel="stylesheet" href="StartPage.css">
    <link rel="stylesheet" href="all.css">
    <link href="~/Scripts/Css/StartPage.css" rel="stylesheet" />
</head>
<body>
    <div id="Kutu">
        <div class="IconDiv">
            <img src="~/Scripts/Icons/Admin.png" id="AdminIcon">
        </div>
        <a href="@Url.Action("AdminLogin", "LoginAdmin")"><button type="button">Admin Girişi</button></a>
        <div class="IconDiv">
            <img src="~/Scripts/Icons/Calisan.png" id="CalisanIcon">
        </div>
        <a href="@Url.Action("EmployeeLogin", "LoginEmployee")"><button type="button">Çalışan Girişi</button></a>
        <div class="IconDiv">
            <img src="~/Scripts/Icons/Musteri.png" id="MusteriIcon">
        </div>
        <a href="@Url.Action("CustomerLogin", "LoginCustomer")"><button type="button">Kullanıcı Girişi</button></a>
    </div>
</body>
</html>