
    <footer>
        <img src="~/Scripts/Icons/Icon.png" id="UstIcon">
        <div id="Ust">Heybetullah Adem ve Arda Odabaşı tarafından geliştirilmiştir.</div>
        <img src="~/Scripts/Icons/Icon.png" id="AltIcon">
        <div id="Alt">Copyright © 2021 Tüm Hakları Saklıdır.</div>
    </footer>

    <link href="~/Scripts/Css/CssFooter.css" rel="stylesheet" />